{% extends "web/layouts/main.html" %}

{% block content %}
   
<main id="blogMain">
    <div id="block-entityviewcontent">
        <section class="c-hero c-hero--large theme--on-dark">
            <div class="c-hero__inner">
                <div class="container">
                    <svg class="p-inherit text-color-theme-primary absolute top-0 left-1/2 -translate-x-1/2 h-full [ motion-safe:opacity-0 ]"
                        data-js-hero-decoration="" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 522 982" style="opacity: 1;">
                        <path fill="none" fill-rule="evenodd" stroke="currentColor"
                            vector-effect="non-scaling-stroke" stroke-width="5"
                            d="M335.216642,989 C218.239664,909.727522 140.255012,791.22192 418.771626,481.041508 C604.449369,274.254567 467.19216,111.574064 7,-7"
                            transform="rotate(180 252.920452 491)" style=""></path>
                    </svg>
                    <div class="c-hero__title-wrapper">
                        <h1 class="c-hero__title"> Student blogs
                        </h1>
                    </div>

                </div>
            </div>
        </section>

    </div>
    {% comment %} <div class="c-content-navigation-wrapper | theme--on-dark">
        <nav class="breadcrumb">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News & Events</a></li>
            </ul>
        </nav>
    </div> {% endcomment %}
    <div id="block-entityviewcontent-heromedia">
        <div>
            <div class="relative bg-color-grey-300 overflow-hidden h-[375px] [ md:h-[500px] ] [ 3xl:h-[650px] ]"
                data-js-parallax-container="">
                <div class="absolute z-0 left-0 w-full duration-300 transition-opacity -inset-y-16 motion-reduce:inset-y-0 motion-reduce:opacity-100"
                    data-js-parallax-item=""
                    style="transform: translate3d(0px, -68.75px, 0px); translate: none; rotate: none; scale: none;">
                    <div class="media media-hero media-bynder" data-media-wrapper-class="figure-media-image">
                        <div>
                            <!-- <picture> -->
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <img src="static/images/blog/blog1.jpg" media="all and (min-width: 1600px)" width="1900"
                                height="700">
                            <img src="static/images/blog/blog1.jpg" media="all and (min-width: 1600px)" width="1900"
                                height="700">
                            <img src="static/images/blog/blog1.jpg" media="all and (min-width: 1600px)" width="1900"
                                height="700">
                            <img src="static/images/blog/blog1.jpg" media="all and (min-width: 1600px)" width="1900"
                                height="700">
                            <img src="static/images/blog/blog1.jpg" media="all and (min-width: 1600px)" width="1900"
                                height="700">
                            <img src="static/images/blog/blog1.jpg" media="all and (min-width: 1600px)" width="1900"
                                height="700">
                            <!-- <source
                                    srcset="https://www.london.ac.uk/sites/default/files/styles/narrow_extra_huge/public/externals/5f03db8ff8f4dedc411dd7596d045a3b.jpg?itok=NNQyMMwB 1x"
                                    media="all and (min-width: 1600px)" type="image/jpeg" width="1900" height="700">
                                <source
                                    srcset="https://www.london.ac.uk/sites/default/files/styles/12_6_media_huge/public/externals/5f03db8ff8f4dedc411dd7596d045a3b.jpg?itok=ulC9_cVT 1x"
                                    media="all and (min-width: 1280px) and (max-width: 1599px)" type="image/jpeg"
                                    width="1600" height="800">
                                <source
                                    srcset="https://www.london.ac.uk/sites/default/files/styles/12_6_media_large/public/externals/5f03db8ff8f4dedc411dd7596d045a3b.jpg?itok=yO_yYM5J 1x"
                                    media="all and (min-width: 1024px) and (max-width: 1279px)" type="image/jpeg"
                                    width="1300" height="650">
                                <source
                                    srcset="https://www.london.ac.uk/sites/default/files/styles/1_1_media_medium/public/externals/5f03db8ff8f4dedc411dd7596d045a3b.jpg?itok=0YSoxkPB 1x"
                                    media="all and (min-width: 768px) and (max-width: 1023px)" type="image/jpeg"
                                    width="1000" height="1000">
                                <source
                                    srcset="https://www.london.ac.uk/sites/default/files/styles/1_1_media_small/public/externals/5f03db8ff8f4dedc411dd7596d045a3b.jpg?itok=5B9khQ1Y 1x"
                                    media="all and (min-width: 481px) and (max-width: 767px)" type="image/jpeg"
                                    width="750" height="750">
                                <source
                                    srcset="https://www.london.ac.uk/sites/default/files/styles/1_1_media_tiny/public/externals/5f03db8ff8f4dedc411dd7596d045a3b.jpg?itok=fAJYI3jw 1x, /sites/default/files/styles/1_1_media_small/public/externals/5f03db8ff8f4dedc411dd7596d045a3b.jpg?itok=5B9khQ1Y 2x"
                                    media="all and (max-width: 480px)" type="image/jpeg" width="400" height="400"> -->
                            <!--[if IE 9]></video><![endif]-->
                            <img class="absolute top-0 left-0 w-full h-full object-cover bynder-image"
                                src="static/images/blog/blog1.jpg" width="400" height="400" alt=""
                                title="Students_Outside 14" loading="lazy">

                            <!-- </picture> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div data-drupal-messages-fallback="" class="hidden"></div> -->
    <div id="block-numiko-mainpagecontent">
        <div data-js-jumplinks-container="">
            <div class="c-intro" data-js-intro="">
                <div class="container containerb" data-js-intro-container="">
                    <div class="c-intro__grid">
                        <div class="c-intro__grid-content">
                            <section class="blogger-section">
                                <p class="blogger-text">
                                    Read articles written by Bells University Mechatronics students from around the
                                    world,
                                    sharing their study experiences with fellow students.
                                </p>
                                <button class="blogger-button">Contact us to become a blogger</button>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="content" style="display: flex; justify-content: center;">
                    <div class="container row">
                        <p>
                            Our student bloggers come from all walks of life, from a range of countries,
                            some study independently and others on campus at Recognised Teaching
                            Centres.
                            All are enrolled in a diverse range of programmes.
                        </p>
                        <p>
                            Our students share a common desire for learning and dedication to improve
                            their lives through further education. Find out what it's like to be part of
                            the Bells University's global student community and share your
                            enthusiasm
                            and experiences with fellow students all over the world.
                        </p>
                    </div>
                </div>


                <div class="blog-container">
                    {% comment %} <div class="blog-top">
                        <h1>172 results</h1>
                        <div class="search-filter">
                            <div class="search-searchbutton">
                                <input type="text" placeholder="Search blogs e.g. open day" class="search-box">
                                <button class="search-btn">🔍</button>
                            </div>
                            <button class="filter-btn">⚙️ Filter blogs</button>
                        </div>
                    </div> {% endcomment %}

                    <section class="blogs">
                        {% for post in posts %}
                        <a href="{{ post.url }}">
                            <div class="blog-card">
                                <img src="{{ post.image_url }}" alt="{{ post.title }}" class="blog-image">
                                <div class="blog-content">
                                    <h2>{{ post.title }}</h2>
                                    <p>{{ post.description }}</p>
                                    <div class="blog-meta" style="display: inline-flex; justify-content: space-between; width: 100%;">
                                        <span>📚 Student Blog</span>
                                        <span>{{ post.created_at }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </section>
                </div>



                <section aria-labelledby="section-328-title"
                    class="paragraph paragraph--type--slice-cta paragraph--view-mode--default border-b border-color-theme-keyline theme--on-dark | relative bg-color-blue-800 py-28 [ md:py-20 ] [ 2xl:py-28 ] [ 3xl:py-32 ]">
                    <div class="container">
                        <svg class="max-w-[250px] text-color-theme-primary absolute top-0 left-1/2 -translate-x-1/2 h-full z-0"
                            data-js-animation="ribbon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                            viewBox="0 0 100 540" style="opacity: 1;">
                            <path vector-effect="non-scaling-stroke" fill="none" fill-rule="evenodd"
                                stroke="currentColor" stroke-width="5"
                                d="M88.87-14.628C-47.52 170.705 298.8 498.872-112.972 579.6"
                                style="color: #105f94;"></path>
                        </svg>
                        <div class="c-grid | relative z-10">
                            <div
                                class="col-span-full [ lg:col-start-2 lg:col-span-10 ] [ xl:col-start-3 xl:col-span-8 ]">
                                <div class="text-center text-color-white">
                                    <div class="c-boxed-gradient | pb-2">
                                        <h2 id="section-328-title" class="text-color-white mb-5 [ xl:mb-6 ]">
                                            Become a student blogger
                                        </h2>
                                        <p
                                            class="text-base max-w-lg mx-auto [ xl:max-w-xl ] [ 3xl:text-lg 3xl:max-w-2xl ]">
                                            If you are currently enrolled on a Bells University programme and
                                            want
                                            to become a blogger, please contact us. Make sure you include
                                            information on
                                            where you are from, what you are studying, your student number and why
                                            you
                                            want to blog.
                                        </p>
                                    </div>
                                    <div class="inline-block bg-color-blue-800 mt-8 [ 2xl:mt-10 ]">
                                        <a href="mailto:blogs@london.ac.uk" class="contact-button"
                                            data-js-analytics-button="">
                                            Contact us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section aria-labelledby="section-related-content-block-title"
            class="py-separator [ md:py-separator-md ] [ 2xl:py-separator-2xl ] [ 3xl:py-separator-3xl ] [ 4xl:py-separator-4xl ] border-b border-color-theme-keyline">
            <h2 id="section-related-content-block-title" class="mb-10 [ 2xl:mb-12 ] [ 3xl:mb-14 ] [ 4xl:mb-20 ]">
                Related Content
            </h2>
            <div class="related-content">
                <div class="related-card">
                    <img src="static/images/news/one.jpg" alt="Study with us">
                    <div class="card-content">
                        <h3>Study with us</h3>
                        <p>Study with the University of London. Prepare yourself for career success with a globally
                            respected degree that fits your lifestyle.</p>
                    </div>
                    <div class="card-footer">Landing page</div>
                </div>
                <div class="related-card">
                    <img src="static/images/news/teo.jpg" alt="Current students">
                    <div class="card-content">
                        <h3>Current students</h3>
                        <p>University of London students have access to a range of resources including libraries and
                            careers services.</p>
                    </div>
                    <div class="card-footer">Landing page</div>
                </div>
                <div class="related-card">
                    <img src="static/images/news/three.jpg" alt="The Student Insider">
                    <div class="card-content">
                        <h3>The Student Insider</h3>
                        <p>The online magazine of the University of London spotlighting features, profiles and more.
                        </p>
                    </div>
                    <div class="card-footer">Landing page</div>
                </div>
                <div class="related-card">
                    <img src="static/images/news/four.jpg" alt="Our blogs">
                    <div class="card-content">
                        <h3>Our blogs</h3>
                        <p>Blogs at the University of London can cover everything and anything related to student
                            and staff life, research library, the Institute in Paris and more.</p>
                    </div>
                    <div class="card-footer">Landing page</div>
                </div>
            </div>
        </section>
</main>

{% endblock content %}
 
 {% block top %}
    <link rel="stylesheet" href="static/css/blog.css">
 {% endblock top %}

 
 {% block noStyles %}
    
 {% endblock noStyles %}
    
    