{% extends 'web/layouts/main.html' %}

{% block content %}
  <!-- Main Content -->
  <main>
    <!-- Enquiry Section -->
    <section class="events" style="margin-top: 150px;">
      <h2 class="title">Submit Enquiry</h2>

      <div class="event-details-container">
        <form method="POST">
          {% csrf_token %}
            {% if messages %}
            <div class="messages">
              {% for message in messages %}
              <div class="alert {{ message.tags }}">{{ message.message }}</div>
              {% endfor %}
            </div>
            {% endif %}
          {{ form }}
          <div class="form-actions">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </section>
  </main>
{% endblock %}

{% block top %}
  <link rel="stylesheet" href="/static/css/eventdetails.css" />
{% endblock %}
