@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Josefin Sans", serif !important;
    font-optical-sizing: auto;
}

#calendar {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}